<input
  id='search-input'
  type='search'
  value={{value}}
    oninput={{perform search value='target.value'}}
  placeholder="Search the guides"
  autocomplete="off"
>

{{!-- Search results dropdown --}}
{{#ember-tether
  target='#search-input'
  targetAttachment='bottom left'
  attachment='top left'
  constraints=_resultTetherConstraints
  class='ds-dropdown-results'
}}
  {{#if response.hits}}
    <span class="ds-suggestions ds-dropdown-menu">
      <div id="ember753" class="ds-suggestion ember-view"><div class="algolia-docsearch-suggestion algolia-docsearch-suggestion__main">
        <div class="algolia-docsearch-suggestion--category-header">
          <span class="algolia-docsearch-suggestion--category-header-lvl0">
                  Search Results
          </span>
        </div>
        <div class="algolia-docsearch-suggestion--wrapper"></div>
      </div></div>
      {{#each response.hits as |result|}}
        {{search-result result=result}}
      {{/each}}
    </span>
  {{/if}}
{{/ember-tether}}
