.highlight {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  border-radius: 3px;
  font-family: Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Courier, monospace;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0.75em 0 3em;
  overflow: hidden;
  position: relative;
}

.highlight.handlebars .delimiter,
.highlight.handlebars .inline,
.highlight.handlebars .inline-delimiter {
  color: #C3F590;
}

.highlight.handlebars .inline .attribute-name {
  color: #C3F590;
}

.highlight.handlebars .inline .attribute-value,
.highlight.handlebars .inline .content {
  color: #C3F590;
}

.highlight .scroller {
  overflow: auto;
}

.highlight pre {
  margin: 0;
  font-size: 1.2em;
  font-family: inherit;
  -webkit-font-feature-settings: "kern", "tnum";
  -moz-font-feature-settings: "kern", "tnum";
  -ms-font-feature-settings: "kern", "tnum";
  font-feature-settings: "kern", "tnum";
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.highlight table {
  border: none;
  margin: 0;
  table-layout: auto;
  width: 100%;
}

.highlight table td,
.highlight table th,
.highlight table tr {
  border: none;
}

.highlight table td,
.highlight table th {
  padding: 5px 10px;
}

.highlight table td {
  color: #fff;
}

.highlight table td.line-numbers {
  color: #999;
  text-align: center;
  width: 2em;
  background-color: #444545;
}

.highlight table td.code {
  background-color: #444545;
  padding: 0.5em 0 0.5em 0.5em;
}

.highlight table thead td {
  color: lightgrey;
}

.highlight table.specific td,
.highlight table.specific th {
  padding: 5px 6px;
}

.highlight table.extensive {
  font-size: 9px;
}

.highlight table .attribute-name {
  color: #EC605E;
}

.highlight table .comment {
  color: #999;
}

.highlight table .content {
  color: #78CEC8;
}

.highlight table .function {
  color: #EC605E;
}

.highlight table .key {
  color: #EC605E;
}

.highlight table .keyword {
  color: #F5E090;
}

.highlight table .local-variable {
  color: #EC605E;
}

.highlight table .string {
  color: #78CEC8;
}

.highlight table .tag {
  color: #EC605E;
}

.highlight .ribbon {
  position: absolute;
  top: 0.33em;
  right: -1px;
  height: 20px;
  width: 52px;
  background: 0 0 no-repeat;
  background-size: 52px 20px;
}

.highlight.javascript .ribbon,
.highlight.js .ribbon {
  background-image: url("../images/ribbon-js.svg");
}

.highlight.html .ribbon {
  background-image: url("../images/ribbon-html.svg");
}

.highlight.handlebars .ribbon {
  background-image: url("../images/ribbon-hbs.svg");
}

.highlight .highlight-line {
  border-left: transparent solid 5px;
  border-right: transparent solid 5px;
  box-sizing: content-box;
  display: inline-block;
  margin: 0 -10px;
}

.highlight .highlight-line.added {
  background-color: #5D7D5D;
}

.highlight .highlight-line.removed {
  background-color: #905454;
}

.highlight .code .highlight-line {
  border-left-width: 13px;
  border-right-width: 13px;
  margin: 0 -13px;
  width: 613px;
}

.highlight .line-numbers .highlight-line {
  width: 28px;
  border-right-color: #edc632;
}

.highlight .line-numbers .highlight-line.added {
  border-right-color: #90ed32;
}

.highlight .line-numbers .highlight-line.added:after {
  content: '+';
  position: absolute;
  left: 32px;
}

.highlight .line-numbers .highlight-line.removed {
  border-right-color: #cc1b18;
}

.highlight .line-numbers .highlight-line.removed:after {
  content: '-';
  position: absolute;
  left: 32px;
}

code {
  background-color: #F8E7CF;
  border-radius: 3px;
  font-family: Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Courier, monospace;
  font-size: 0.9em;
  padding: 0.2em 0.5em;
  margin: 0 0.1em;
  -webkit-font-feature-settings: "kern", "tnum";
  -moz-font-feature-settings: "kern", "tnum";
  -ms-font-feature-settings: "kern", "tnum";
  font-feature-settings: "kern", "tnum";
}

a code {
  color: #dd6a58;
}

.CodeRay thead {
  background-color: #292929;
}
