.token.regex,
.token.important,
.token.variable {
  color: #C3F590;
}

code > .diff-insertion {
  background-color: #5D7D5D;
}

code > .diff-deletion {
  background-color: #905454;
}

code .diff-operator {
  user-select: none;
}

code .token.comment {
  color: #E6E6E6;

}