.token.regex,
.token.important,
.token.variable {
  color: #C3F590;
}

code > .diff-insertion {
  background-color: rgba(93, 125, 93, 0.5);

  .token.property,
  .token.tag,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #ff95bb;
  }
}

code > .diff-deletion {
  background-color: rgba(144, 84, 84, .7);

  .token.property,
  .token.tag,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #ffaac8;
  }
}

code .diff-operator {
  user-select: none;
}

code .token.comment {
  color: #E6E6E6;
}

code {
   .token.property,
   .token.tag,
   .token.constant,
   .token.symbol,
   .token.deleted {
     color: #ff6fa3;
   }
}
