{{head-layout}}

{{#es-header}}
  {{#es-navbar}}
    <form>
      {{search-input projectVersion=page.currentVersion}}
    </form>
  {{/es-navbar}}
{{/es-header}}

<main class="container">
  {{outlet}}
</main>

{{es-footer}}
